{{- with $.Site.Params.siteStartYear -}}
	<p>© {{ if eq now.Year $.Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ $.Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ $.Site.Title }}</p>
{{ else }}
	<p>© {{ now.Year }} {{ $.Site.Title }}</p>
{{ end }}

<head>


<a title="Real Time Web Analytics" href="https://clicky.com/101157727"><img src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101157727);</script>
<script async src="//static.getclicky.com/js"></script>

</head>

