{{ define "frontmenu" }}
	{{ $.Scratch.Set "navRSS" true }}
	{{ partial "nav.html" . }}
{{ end }}

{{ define "main"}}
<div class="ui centered grid">
	<div class="fifteen wide mobile fifteen wide tablet four wide computer column">
		{{ partial "header.html" . }}
	</div>
	<div class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list">
		<div class="cards row box">
			{{ $itemsPerPage := (index $.Site.Params "paginate" | default $.Site.Params.itemsPerPage) }}
			{{ $paginator := .Paginate (where .Data.Pages "Type" $.Site.Params.contentType) $itemsPerPage }}
			{{ range $paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
	</div>
</div>
 <a href='https://www.symptoma.it/'>symptoma.it</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=521c855999663f25a872a944cb9e59913cf12764'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/542259/t/0"></script>
{{ end }}
